<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
    <p>商品名</p>
    <p>
    <%=@post.content %>
    </p>
    <p>電話番号</p>
    <p><%=@phonenumber %></p>
    <p>チケットID＊最終的には表示しない</p>
    <p><%=@ticket_id.ticket_id %></p>
    </div>
    <%= form_tag("/posts/#{@post.id}/#{@phonenumber}/#{@ticket_id.ticket_id}/input") do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <p>
        確認コード
      </p>
      <input name="ticket_id" value="<%=@ticket_id.ticket_id %>">
      <input type="submit" value="確定">
      </div>
    </div>
  <% end %>

    </div>




  </div>
</div>