<div class="main posts-show">
  <div class="container">
  <h1 class="form-heading">チケットID入力</h1>

    <div class="posts-show-item">
    <p>商品名</p>
    <p1>　<%=@post.content %></p1>
    <p>電話番号</p>
    <p1><%="　＊＊＊-＊＊＊＊-＊＊#{@preticket.phonenumber[9,2]}"%></p1>

    <p>URL＊最終的には表示しない</p>
    <p1>　<%="確認画面URL:https://tenba-iya.herokuapp.com/posts/#{@post.id}/#{@preticket.id}/#{@preticket.ticket_id}/check" %></p1>
    </div>
    <%= form_tag("/posts/#{@post.id}/#{@preticket.phonenumber}/#{@preticket.id}//input") do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <p>チケットID</p>
      <input name="ticket_id" value="<%=@ticekt_ticket_id %>">
      <input type="submit" value="確定">
      </div>
    </div>
  <% end %>

    </div>




  </div>
</div>