<div class="main posts-show">
  <div class="container">
  <h1 class="form-heading">チケットID入力</h1>

    <div class="posts-show-item">
    <p>商品名</p>
    <p1>　<%=@post.content %></p1>
    <p>電話番号</p>
    <p1>　<%=@phonenumber %></p1>
    <p>チケットID＊最終的には表示しない</p>
    <p1>　<%=@ticket_id.ticket_id %></p1>
    </div>
    <%= form_tag("/posts/#{@post.id}/#{@phonenumber}/#{@ticket_id.ticket_id}/input") do %>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <p>チケットID</p>
      <input name="ticket_id" value="<%=@ticket_id.ticket_id %>">
      <input type="submit" value="確定">
      </div>
    </div>
  <% end %>

    </div>




  </div>
</div>