
<div class="main posts-index">
<div class="container">
  <h1 class="form-heading">商品検索</h1>
  <%= form_tag("/posts/index") do %>
    <div class="form">
      <input name="content">
      <input type="submit" value="検索">
    </div>
  <% end %>
</div>

<div class="container">
<p>
商品名

</p>
  <% @posts.each do |post| %>
    <div class="posts-index-item">
    <%= link_to(post.content,"/posts/#{post.id}") %>
    <%= post.tickets_count %>
    
    </div>
  <% end %>
  <p>
  登録
  </p>
    <% @ticket.each do |ticket| %>
      <div class="posts-index-item">
      <%= ticket.id %>
      <%= ticket.post_id %>
      <%= ticket.phonenumber %>
      <%= ticket.ticket_id %>
      </div>
    <% end %>
  </div>
</div>