<div class="main posts-show">
  <div class="container">
  <h1 class="form-heading">チケット</h1>
  <p>チケットは一度使うと元に戻せません</p>

    <div class="posts-show-item">
    <p>商品名</p>
    <p1>　<%=@post.content%></p1>
    <p>商品購入回数</p>
    <p1>　<%=1%>回</p1>
    <p>今日の商品購入回数</p>
    <p1>　<%=1%>回</p1>
    <p>過去3ヶ月の商品購入回数</p>
    <p1>　<%=1%>回</p1>
    <p>電話番号</p>
    <p1><%="　＊＊＊-＊＊＊＊-＊＊#{@ticket.phonenumber.to_s[8,2]}"%></p1>
    <p>チケットID</p>
    <p1>　<%=@ticket.ticket_id%></p1>
    <p>チケット発行日</p>
    <p1>　<%=@ticket.created_at.in_time_zone('Tokyo').strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒")%></p1>
    <%if @ticket.used==1%>
      <p>チケット使用日</p>
      <p1>　<%=@ticket.updated_at.in_time_zone('Tokyo').strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒")%></p1>
      <div class="ticket-button-used">
        <%=link_to("/posts/#{@ticket.id}/used",{method: "post"}) do %>
        <button>チケット使用済み</button>
        <%end%>
      </div>
    <%else%>
      <div class="ticket-button">
        <%=link_to("/posts/#{@ticket.id}/used",{method: "post"}) do %>
        <button>チケットを使う</button>
        <%end%>
      </div>
    <%end%>








    </div>

    </div>




  </div>
</div>