<!DOCTYPE html>
<html>
  <head>
    <title>Tenba×Iya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <div class="header-logo">
    <%=link_to("Tenba×Iya","/")%>
  </div>
  <ul class="header-menus">
    <li><%=link_to("Tenba×Iyaとは","https://tenba-iya.hatenablog.com/entry/about")%></li>
    <li><%=link_to("商品一覧","/posts/index")%></li>
    <li><%= link_to("商品登録", "/posts/new")%></li>
    <li><%= link_to("チケット検索", "/posts/find")%></li>
  </ul>
</header>

<% if flash[:notice] %>
<div class="flash">
  <%= flash[:notice] %>
</div>
<% end %>


<%= yield %>
  </body>
</html>
